<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <connectionStrings>

    <!--Sql Server身份验证模式-->
    <!--<add name="connStr" connectionString="server=127.0.0.1;database=StorageManagement;uid=sa;pwd=123456;"/>-->


    <!--Windows身份验证模式-->
    <add name="connStr" connectionString="server=.;database=StorageManagement;integrated security=SSPI;"/>

  </connectionStrings>
</configuration>